

<div data-role="page" id="declarationForm_project_mobile_index" lang="en" xmlns:th="http://www.thymeleaf.org">
    <div data-role="header">
        <h1>欢迎来到我的主页</h1>
    </div>
    <div data-role="panel" id="declarationForm_project_mobile_index_overlayPanel" data-display="overlay">
        <h4>查询条件设置</h4>
        <form method="post" id="declarationForm_project_mobile_index_form" action="/guestroom/project/declarationForm/show">
            <label for="declarationForm_project_fname">房号：</label>
            <input type="text" name="room.name" value="" id="declarationForm_project_fname" th:if="${declarationForm.room == null}"/>
            <input type="text" name="room.name" value="" id="declarationForm_project_fname" th:if="${declarationForm.room != null}" th:value="${declarationForm.room.name}"/>
            <label for="declarationForm_project_mobile_index_form_roomOptionName">报修工程内容：</label>
            <a href="#declarationForm_project_mobile_forNameOption_poupu" id="declarationForm_project_mobile_index_form_forNameOption_a" data-rel="popup" th:if="${declarationForm.forNameOption!=null}" >
                <input type="text" name="forNameOption.name" readonly="readonly" value="" id="declarationForm_project_mobile_index_form_roomOptionName" th:value="${declarationForm.forNameOption.name}"/>
            </a>
            <a href="#declarationForm_project_mobile_forNameOption_poupu" id="declarationForm_project_mobile_index_form_forNameOption_a" data-rel="popup" th:if="${declarationForm.forNameOption==null}" >
                <input type="text" name="forNameOption.name" readonly="readonly" value="" id="repairForm_guest_mobile_index_form_roomOptionName"/>
            </a>

            <input type="hidden" name="pageNum" value="1" th:value="${pageVo.pageNum}"/>
            <input type="hidden" name="numPerPage" value="" th:value="${pageVo.numPerPage}"/>
            <input type="submit" id="declarationForm_project_mobile_index_submit" data-inline="true" value="查询"/>
            <input type="reset" id="declarationForm_project_mobile_index_reset" data-inline="true" value="清空"/>
        </form>


    </div>
    <div data-role="popup" id="declarationForm_project_mobile_forNameOption_poupu" style="top: 150px">
        <form class="ui-filterable">
            <input id="declarationForm_project_mobile_forNameOption_poupu_filter" data-type="search">
        </form>
        <ul data-role="listview" id="declarationForm_project_mobile_forNameOption_poupu_ul" data-filter="true" data-input="#declarationForm_project_mobile_forNameOption_poupu_filter" data-autodividers="false" data-inset="true">

        </ul>

    </div>
    <div data-role="main" class="ui-content" id="declarationForm_project_mobile_index_main" >
        <p th:if="${flag==false}">工程维修(新建的报修单)</p>
        <p th:if="${flag==true}">工程维修(待本人维修的报修单)</p>
        <ul data-role="listview" data-inset="true" id="declarationForm_project_mobile_forNameOption_poupu_main_ul">
            <li th:each="declarationForm:${pageVo.contents}">
                <a href="" th:href="'/guestroom/repairForm/declarationForm/'+${declarationForm.id}+'/'+${flag==false?0:1}">
                    <span th:text="${declarationForm.room.name}"></span>
                    <span th:text="${declarationForm.forNameOption.name}"></span>
                    <span th:text="${declarationForm.declarationFormStatus.status}"></span>
                </a>
            </li>
        </ul>
    </div>

    <div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="#declarationForm_project_mobile_index_overlayPanel" data-icon="search" class="ui-btn ui-btn-inline ui-corner-all ui-shadow">查询</a>
                </li>
                <li><a href="#" data-icon="forward" id="declarationForm_project_mobile_index_preview" rel="1">上一页</a></li>
                <li><a href="#" data-icon="back" id="declarationForm_project_mobile_index_next" th:attr="rel=${pageVo.totalPages}">下一页</a></li>
                <!--<li><a href="/guestroom/declarationForm/toAdd" data-icon="plus">添加</a></li>-->
                <!--<li><a href="#" data-icon="info">详情</a></li>-->
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        //首页
        $(document).off("tap","#declarationForm_project_mobile_index_preview");
        $(document).on("tap","#declarationForm_project_mobile_index_preview",function () {
            var $pageNum= $("#declarationForm_project_mobile_index_form").find("input[name='pageNum']");
            var pageNum=$pageNum.val()-0;
            pageNum = pageNum<=1?1:(pageNum-1);
            $pageNum.val(pageNum);
            $("#declarationForm_project_mobile_index_form").submit();
            return false;
        })

        //下一页
        $(document).off("tap","#declarationForm_project_mobile_index_next");
        $(document).on("tap","#declarationForm_project_mobile_index_next",function () {
            var $pageNum= $("#declarationForm_project_mobile_index_form").find("input[name='pageNum']");
            var totalPages=$("#declarationForm_project_mobile_index_next").attr("rel")-0;
            var pageNum=$pageNum.val()-0;
            pageNum = pageNum>=totalPages?totalPages:(pageNum+1);
            $pageNum.val(pageNum);
            $("#declarationForm_project_mobile_index_form").submit();
            return false;
        })

        //点击查询，清空分页
        $(document).off("tap","#declarationForm_project_mobile_index_submit");
        $(document).on("tap","#declarationForm_project_mobile_index_submit",function () {
            $("#declarationForm_project_mobile_index_form").find("input[name='pageNum']").val("1");
            return true;
        })

        //点击清空
        $(document).off("tap","#declarationForm_project_mobile_index_reset");
        $(document).on("tap","#declarationForm_project_mobile_index_reset",function () {
            $("#declarationForm_project_mobile_index_form").find("input[name='pageNum']").val("1");
            $("#declarationForm_project_fname").val("");
            $("#declarationForm_project_mobile_index_form_roomOptionName").val("");
            return false;
        })

        //控制报修内容查询条件操作.
        $(document).off("tap","#declarationForm_project_mobile_index_form_forNameOption_a");
        $(document).on("tap","#declarationForm_project_mobile_index_form_forNameOption_a",function(){

            $("#declarationForm_project_mobile_forNameOption_poupu_ul").html("");
            $.ajax({
                url: "/ajax/option/findAll",
                async: false,
                cache: false,
                dataType: "json",
                type: "post",
                success: function (data) {
                    $("document").off("remove", "#declarationForm_project_mobile_forNameOption_poupu")
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        html += "<li data-filtertext=\"" + data[i]['pinyin'] + data[i]['name'] + "\"><a href='#'>" + data[i]['name'] + "</a></li>"
                    }

                    $("#rdeclarationForm_project_mobile_forNameOption_poupu_ul").append(html);
                    $("#declarationForm_project_mobile_forNameOption_poupu_ul").off("tap", "a");
                    $("#declarationForm_project_mobile_forNameOption_poupu_ul").on("tap", "a", function () {
                        $("#declarationForm_project_mobile_index_form_roomOptionName").val($(this).text())
                        window.setTimeout(function () {
                            $("#declarationForm_project_mobile_forNameOption_poupu").popup("close");
                        }, 700)
                    })


                }


            });
            $("#declarationForm_project_mobile_forNameOption_poupu_ul").listview("refresh");
            $(document).off("input","#repairForm_guest_mobile_forNameOption_poupu_filter");
            $(document).on("input","#repairForm_guest_mobile_forNameOption_poupu_filter",function (data) {
                var c = $("#declarationForm_project_mobile_forNameOption_poupu_filter").val();
                $("#declarationForm_project_mobile_forNameOption_poupu_ul>li").css("display","block")
                if(c!="")
                    $("#declarationForm_project_mobile_forNameOption_poupu_ul>li").filter(":not([data-filtertext*='"+c+"'])").css("display","none");
            })

        })

        /*控制点击列表跳转 start*/
        /* $(document).off("tap","#declarationForm_guest_mobile_forNameOption_poupu_main_ul a");
         $(document).on("tap","#declarationForm_guest_mobile_forNameOption_poupu_main_ul a",function () {
             console.log(new Date())
         })*/
        /*控制点击列表跳转 end*/
    </script>
</div>

